/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define QWT 1
#define FN 2

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
// ------------------------------------------------------------------------------------------------------------
// |  ESC  |  1  |  2  |  3   |  4   |  5   |                   |  6   |  7    |  8    |  9   |   0   |  DEL  |
// |  GRV  |  Q  |  W  |  F   |  P   |  B   |                   |  J   |  L    |  U    |  Y   |   ;   |   \   |
// |  CAPS |  A  |  R  |  S   |  T   |  G   |                   |  M   |  N    |  E    |  I   |   O   |   '   |
// | SHIFT |  Z  |  X  |  C   |  D   |  V   |   F9   |  |  QWT  |  K   |  H    |  ,    |  .   |   /   | SHIFT |
//               |  UP | DOWN | CTRL |  TAB |  SPACE |  | ENTER | BSPC |  ALT  | LEFT  | RIGHT|
            bindings = <
    //left r1
    &kp N5      &kp N4      &kp N3      &kp N2      &kp N1      &kp ESC            
    //right r1
    &kp N6      &kp N7      &kp N8      &kp N9      &kp N0      &kp DEL
    //left r2
    &kp B       &kp P       &kp F       &kp W       &kp Q       &kp GRAVE
    //right r2
    &kp J       &kp L       &kp U       &kp Y       &kp SEMI    &kp BSLH
    //left r3
    &kp G       &kp T       &kp S       &kp R       &kp A       &lt FN CAPS
    //right r3
    &kp M       &kp N       &kp E       &kp I       &kp O       &kp SQT
    //left r4
    &kp V       &kp D       &kp C       &kp X       &kp Z       &kp LSHFT   &kp F9
    //right r4
    &tog QWT    &kp K       &kp H       &kp COMMA   &kp DOT     &kp FSLH    &kp RSHFT
    //left r5
    &kp SPACE   &kp TAB     &kp LCTRL   &kp DOWN    &kp UP
    //right r5
    &kp RET     &kp BSPC    &kp LALT    &kp LEFT    &kp RIGHT
            >;

            sensor-bindings = <&inc_dec_kp F7 F8 &inc_dec_kp PG_UP PG_DN>;
        };

        qwerty_layer {
// TODO: Some binds are waiting for shifted keycode support.
// ------------------------------------------------------------------------------------------------------------
// |  ESC  |  1  |  2  |  3   |  4   |  5   |                   |  6   |  7    |  8    |  9   |   0   |  DEL  |
// |  GRV  |  Q  |  W  |  E   |  R   |  T   |                   |  Y   |  U    |  I    |  O   |   P   |   \   |
// |  CAPS |  A  |  S  |  D   |  F   |  G   |                   |  H   |  J    |  K    |  L   |   ;   |   '   |
// | SHIFT |  Z  |  X  |  C   |  V   |  B   |   F9   |  |  QWT  |  N   |  M    |  ,    |  .   |   /   | SHIFT |
//               |  UP | DOWN | CTRL |  TAB |  SPACE |  | ENTER | BSPC |  ALT  | LEFT  | RIGHT|
// ------------------------------------------------------------------------------------------------------------
            bindings = <
    //left r1
    &kp N5      &kp N4      &kp N3      &kp N2      &kp N1      &kp ESC
    //right r1
    &kp N6      &kp N7      &kp N8      &kp N9      &kp N0      &kp DEL
    //left r2
    &kp T       &kp R       &kp E       &kp W       &kp Q       &kp GRAVE
    //right r2
    &kp Y       &kp U       &kp I       &kp O       &kp P       &kp BSLH
    //left r3
    &kp G       &kp F       &kp D       &kp S       &kp A       &lt FN CAPS
    //right r3
    &kp H       &kp J       &kp K       &kp L       &kp SEMI    &kp SQT
    //left r4
    &kp B       &kp V       &kp C       &kp X       &kp Z       &kp LSHFT   &kp F9
    //right r4
    &tog QWT    &kp N       &kp M       &kp COMMA   &kp DOT     &kp FSLH    &kp RSHFT
    //left r5
    &kp SPACE   &kp TAB     &kp LCTRL   &kp DOWN    &kp UP
    //right r5
    &kp RET     &kp BSPC    &kp RALT    &kp LEFT    &kp RIGHT
            >;

            sensor-bindings = <&inc_dec_kp F7 F8 &inc_dec_kp PG_UP PG_DN>;
        };

        lower_layer {
// TODO: Some binds are waiting for shifted keycode support.
// ------------------------------------------------------------------------------------------------------------
// |   F1  |  F2 |  F3 |  F4  |  F5  |  F6  |                   |   F7 |  F8   |  F9  |  F10 |  F11  |  F12  |
// | btclr | bt1 | bt2 |  bt3 |  bt4 |  bt5 |                   |      |       |      |      |       |       |
// |       |     |     |      |      |      |                   |      |  -    |  =   |  [   |   ]   |       |
// |       |     |     |      |      |      |        |  |       |      |  _    |  +   |  {   |   }   |       |
//               |     |      |      |      |        |  |       |      |       |      |      |
            bindings = <
    //left r1
    &kp F6      &kp F5      &kp F4      &kp F3      &kp F2      &kp F1
    //right r1
    &kp F7      &kp F8      &kp F9      &kp F10     &kp F11     &kp F12
    //left r2
    &bt BT_SEL 4 &bt BT_SEL 3 &bt BT_SEL 2 &bt BT_SEL 1 &bt BT_SEL 0 &bt BT_CLR
    //right r2
    &trans      &trans      &trans      &trans      &trans      &trans
    //left r3
    &trans      &trans      &trans      &trans      &trans      &trans
    //right r3
    &trans      &kp MINUS   &kp EQUAL   &kp LBKT    &kp LBRC    &trans
    //left r4
    &trans      &trans      &trans      &trans      &trans      &trans  &trans
    //right r4
    &trans      &kp UNDER   &kp PLUS    &kp RBKT    &kp RBRC    &trans  &trans
    //left r5
    &kp LGUI    &trans      &kp RCTRL   &kp PG_DN   &kp PG_UP
    //right r5
    &trans      &trans      &kp RALT    &kp HOME    &kp END
            >;

            sensor-bindings = <&inc_dec_kp F7 F8 &inc_dec_kp PG_UP PG_DN>;
        };
    };
};
